.doodle-link {
  position: relative;
  padding: 4px 12px;
  z-index: 2;
  color: #2d4754 !important;
}

.doodle-link::before {
  content: "";
  position: absolute;
  z-index: -2;
  border-radius: 4px;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
  border: 2px solid #2d4754;
  border-radius: 16px;
}

.doodle-link::after {
  content: "";
  position: absolute;
  z-index: -123;
  border-radius: 16px;

  width: 100%;
  height: 100%;
  bottom: -6px;
  left: -5px;
  transition: all 0.2s ease-in-out;
  border: 2px solid #2d4754;
  /* background-color: #c795e3; */
}

.doodle-link span {
  opacity: 0;
  z-index: 120;

  transition: opacity 0.2s ease-in-out; /* Add transition for smooth effect */
}

.doodle-link:hover span {
  opacity: 1;
  z-index: 120 !important;
}

.doodle-folder {
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.doodle-folder:hover {
  position: relative;
  z-index: 2;
  padding: 16px;
  transition: all 0.2s ease-in-out;
}

.doodle-folder:hover::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border-radius: 4px;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  background-color: #fff;
  /* border: 1px solid #091a23; */
  border-radius: 16px;
}

/* in back */
.doodle-folder:hover::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -6;
  border-radius: 16px;

  width: 100%;
  height: 100%;
  bottom: -6px;
  left: -5px;
  transition: width 4s ease-in-out;
  border: 2px solid #0b1215;
  background-color: #0b1215;
}

@media screen and (max-width: 768px) {
  .doodle-link,
  .doodle-folder,
  .doodle-folder::after,
  .doodle-folder::before,
  .doodle-link::after,
  .doodle-link::before {
    width: 100%; /* Set width to 50% on smaller screens */
  }
}
